*.xlsx filter=lfs diff=lfs merge=lfs -text
/Users/mzhu/Documents/Python/2020_20_440/440_project/440_project_init_data_vis.ipynb filter=lfs diff=lfs merge=lfs -text
440_project_init_data_vis.ipynb filter=lfs diff=lfs merge=lfs -text
